<slider [articleSlider]="homePage?.articleSlider"></slider>

<main class="main-content container">
    <h4 class="mt-4"><b>Tiêu điểm</b></h4>

    <div class="px-8 py-2" *ngIf="homePage?.listArticle?.length > 0" style="border-bottom: 1px solid #000000;">
        <ul style="list-style: square;">
            <li *ngFor="let item of homePage?.listArticle || []" class="text-lg">
                <a [routerLink]="['/' + item.slug]" href="{{ '/' + item.slug }}">{{ item.title }}</a>
            </li>
        </ul>
    </div>

    <ng-container *ngFor="let item of homePage?.listCategory || []">
        <section class="category" *ngIf="item?.articles?.length > 0">
            <h2 class="name">
                <a [routerLink]="['/' + item.slug]" href="{{'/' + item.slug}}">{{item?.name}}</a>
            </h2>

            <div class="grid grid-cols-12 gap-4">
                <ng-container [ngTemplateOutlet]="Article"
                    [ngTemplateOutletContext]="{article: item.articles[0], class: 'col-span-7 card-article-first pr-4', slug: item?.slug}">
                </ng-container>

                <div class="col-span-5 list-card-article">
                    <ng-container *ngFor="let article of item.articles;let i = index;">
                        <ng-container *ngIf="i !== 0" [ngTemplateOutlet]="Article"
                            [ngTemplateOutletContext]="{article, slug: item?.slug}">
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </section>
    </ng-container>
</main>

<ng-template #Article let-article="article" let-class="class" let-slug="slug">
    <article class="{{ class }} card-article" *ngIf="article">
        <div class="card-article-img" [ngStyle]="{'background-image': 'url(' + article.titleImageUrl + ')'}"></div>
        <p class="card-article-summary">{{article.title}}</p>
        <a [routerLink]="['/' + slug + '/' + article.slug]" href="{{'/' + slug + '/' + article.slug}}"
            class="card-article-url"></a>
    </article>
</ng-template>