<globits-breadcrumbs [crumbs]="breadcrumbs"></globits-breadcrumbs>

<section class="p-3">
    <form [formGroup]="searchForm!" (ngSubmit)="submitSearch()" class="bg-white rounded-sm p-3">
        <h2><strong>Danh sách bài viết Slider</strong></h2>

        <div class="flex items-center justify-end gap-1">
            <input-component class="input-search-container w-1/4" formControlName="text" id="text" name="text"
                placeholder="Từ khóa..."></input-component>

            <button class="btn-container" type="submit">
                <icon-search></icon-search>
                Tìm kiếm
            </button>
        </div>

        <table-component class="mt-2" [rows]="pageArticle?.content || []" [columns]="columns"
            [totalElements]="pageArticle?.totalElements" (change)="setPage($event)" [pageIndex]="searchObject.pageIndex"
            [pageSize]="searchObject.pageSize">
        </table-component>
    </form>
</section>