<div @fadeInUp class="card shadow-xl text-center w-full max-w-sm overflow-hidden">
  <div class="p-6 flex flex-col items-center">
    <img class="w-16" src="assets/img/demo/logo.svg">
  </div>

  <h1 class="display-1 font-medium m-0">COMING SOON</h1>
  <h3 class="title mt-3 mb-0">Our website is under construction.</h3>

  <div class="my-6 flex items-center justify-center gap-3">
    <a class="cursor-pointer">
      <mat-icon class="icon-sm" svgIcon="fa:facebook"></mat-icon>
    </a>
    <a class="cursor-pointer">
      <mat-icon class="icon-sm" svgIcon="fa:twitter"></mat-icon>
    </a>
    <a class="cursor-pointer">
      <mat-icon class="icon-sm" svgIcon="fa:instagram"></mat-icon>
    </a>
    <a class="cursor-pointer">
      <mat-icon class="icon-sm" svgIcon="fa:pinterest"></mat-icon>
    </a>
    <a class="cursor-pointer">
      <mat-icon class="icon-sm" svgIcon="fa:github"></mat-icon>
    </a>
  </div>

  <div class="bg-app-bar p-6 flex flex-col">
    <p class="mt-0 mb-4 font-medium">If you would like to get notified as soon as we launch, subscribe below and follow
      us on socials!</p>

    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input matInput>
      <mat-icon matSuffix svgIcon="mat:mail"></mat-icon>
    </mat-form-field>

    <button color="primary" mat-raised-button type="button">Subscribe</button>
  </div>
</div>
