<div class="w-full h-full bg-pattern container-fluid d-flex">
  <div class="card overflow-hidden w-full max-w-lg check-account">
      <!-- <h1 class="text-center title m-0">ĐĂNG NHẬP</h1> -->
    <div class="row mt-3">
      <div class="col-6">
        <a [routerLink]="['/submitted-file']" class="btn-view-list custom-button btn-primary">VAAC</a>
      </div>
      <div class="col-6">
        <a [routerLink]="['/ttyt/file-management']" class="btn-view-list custom-button btn-tt">TTYT</a>
      </div>
      <div class="col-12 mt-5 parent-cancel">
        <a [routerLink]="['/login']" class="text-center"><mat-icon style="padding-top: 8px;">keyboard_return</mat-icon> Đăng xuất</a>
      </div>
    </div>
  </div>
</div>
