.success {
  color: green;
}

.error {
  color: red;
}

.container-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  background: url("../../../../../assets/img/login/banner4.png"), linear-gradient(180deg, #007B8F 0%, #338593 100%);
  /* mix-blend-mode: hue; */
  background-blend-mode: luminosity;

  .font-normal {
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }
}

.title-form {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.form-line-break {
  color: #ffffff;
  margin: 15px 0px;
}

.btn-primary {
  color: #ffffff;
  border-color: #E28800 !important;
  background-color: #E28800 !important;
  font-size: 16px;
}
.btn-cancel{
  background-color: #246eb8 !important;
  color: white;
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

// ::ng-deep .mat-form-field-appearance-outline {
//   background-color: #fff;
// }
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.box-container {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
