<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="table-container" (mousedown)="startDragging($event)" #tableContainer>
    <table cellpadding="0" cellspacing="0">
        <thead class="table-thead">
            <tr>
                <th *ngIf="selection" [attr.width]="50">
                    <input *ngIf="selectionType === 'multi'" id="itemAll" (change)="onSelectAll()"
                        [checked]="selected?.length === rows?.length" type="checkbox">
                </th>
                    
                <th *ngFor="let item of columns" class="table-thead-item" [attr.width]="item?.width" [title]="item?.name">
                    {{item?.name || ''}}
                </th>
            </tr>
        </thead>

        <tbody class="table-body">
            <ng-container *ngIf="rows?.length > 0; else noData">
                <ng-container *ngFor="let row of rows;let index = index">
                    <tr (click)="selectRow  ? onSelect(row) : null" [ngStyle]="{'cursor': selectRow ? 'pointer' : 'default' }" [class]="renderClassRow ? renderClassRow(row) : ''">

                        <td *ngIf="selection" class="columns-checkbox">
                            <input id="name{{row?.id || index}}" (change)="selectRow ? null : onSelect(row)" [checked]="checkSelected(row)" type="checkbox">
                        </td>

                        <td *ngFor="let item of columns || []" class="{{item?.classItem}}" [attr.align]="item.alignItem || 'center'">
                            <ng-container *ngIf="!item?.nameItemHTML; else RenderHTML">
                                {{item?.render ? item?.render(row, index) : getIn(row,item?.prop)}}
                            </ng-container>
                        
                            <ng-template #RenderHTML>
                                <ng-container *ngTemplateOutlet="getItemHTML(item?.nameItemHTML);context:{$implicit: row}">
                                </ng-container>
                            </ng-template>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>

            <ng-template #noData>
                <td [attr.colspan]="columns?.length + 1" class="table-body-item text-sm-left">Không có có dữ liệu</td>
            </ng-template>
        </tbody>
    </table>
</div>
 
<div *ngIf="!isHiddenFooter" class="datatable-footer text-end p-1">
    <globits-datatable-pager (limitChange)="onLimitChange($event)" [page]="pageIndex" [size]="pageSize"
        [count]="totalElements" [hidden]="false" (change)="setPageSize($event)">
    </globits-datatable-pager>
</div>