<div class="flex items-center" mat-dialog-title>
  <p class="flex-auto text-lg font-medium">New Message</p>
  <button mat-dialog-close mat-icon-button type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="block w-full">
    <mat-label>To</mat-label>
    <input cdkFocusInitial matInput type="text"/>

    <button (click)="toggleDropdown()" class="-top-2" color="primary" mat-button matSuffix type="button">CC/BCC</button>
  </mat-form-field>

  <div [@dropdown]="dropdownOpen" class="overflow-hidden">
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Cc</mat-label>
      <input matInput type="text"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Bcc</mat-label>
      <input matInput type="text"/>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="block w-full">
    <mat-label>Subject</mat-label>
    <input matInput type="text"/>
  </mat-form-field>

  <div class="vex-mail-compose-editor flex flex-col">
    <quill-editor [styles]="{ flex: '1 1 auto', display: 'flex', 'flex-direction': 'column' }"
                  class="flex-auto flex flex-col"></quill-editor>
  </div>

  <div class="vex-mail-compose-attachment mt-4 mb-2 rounded-full border px-4 py-1 flex items-center hover:bg-hover transition duration-200 ease-in-out cursor-pointer relative"
       matRipple>
    <mat-icon class="flex-none text-primary icon-sm" svgIcon="mat:picture_as_pdf"></mat-icon>
    <p class="flex-auto ml-4 text-sm">super-secret-design-document.pdf</p>

    <p class="text-sm text-secondary mr-2 flex-none">54kb</p>
    <button (click)="$event?.stopPropagation()" class="flex-none w-8 h-8 leading-none" mat-icon-button type="button">
      <mat-icon class="icon-sm" svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <div class="vex-mail-compose-attachment my-2 rounded-full border px-4 py-1 flex items-center hover:bg-hover transition duration-200 ease-in-out cursor-pointer relative"
       matRipple>
    <mat-icon class="flex-none text-primary icon-sm" svgIcon="mat:image"></mat-icon>
    <p class="flex-auto ml-4 text-sm">cute-cat-picture.jpg</p>

    <p class="text-sm text-secondary mr-2 flex-none">16kb</p>
    <button (click)="$event?.stopPropagation()" class="flex-none w-8 h-8 leading-none" mat-icon-button type="button">
      <mat-icon class="icon-sm" svgIcon="mat:close"></mat-icon>
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button color="warn" mat-dialog-close mat-icon-button matTooltip="Discard Draft" type="button">
    <mat-icon svgIcon="mat:delete"></mat-icon>
  </button>

  <span class="flex-1"></span>

  <button mat-icon-button matTooltip="Attach File" type="button">
    <mat-icon svgIcon="mat:attach_file"></mat-icon>
  </button>

  <button (click)="submit()" color="primary" mat-flat-button type="button">
    <span>Send</span>
    <mat-icon class="ml-2 icon-sm" svgIcon="mat:send"></mat-icon>
  </button>
</mat-dialog-actions>
