$color-black: #000000;
$color-black-100: rgba(0, 0, 0, 1);
$color-white: #ffffff;
$color-blue: #0099ff;
$color-blue-black: #384E6FE8;
$color-gray-blue: #303f737a;
$color-blue: #50bbff;
$color-red: red;
$color-gray: #d4d4d4;
$color-green: #00a65a;
$color-yellow: yellow;

$color-second: #F23F44;
$color-second-hover: #e76468;

$color-primary: #006778;
$color-primary-hover: #338593;
