@mixin class-grid($name, $width) {
  @media (min-width: $width) {
    @for $i from 0 through 12 {
      .grid-#{$name}-#{$i},
      *[#{$name}="#{$i}"].grid-item {
        grid-column: span #{$i};
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  box-sizing: border-box;

  @for $i from 0 through 12 {
    &.grid-spacing-#{$i} {
      gap: calc(0.25rem * #{$i});
    }
  }

  &.grid-justify {
    &-start {
      justify-items: start;
    }

    &-end {
      justify-items: end;
    }

    &-center {
      justify-items: center;
    }
  }

  .grid-item {
    box-sizing: border-box;
    grid-column: span 12;
  }

  @include class-grid(xs, 0px);
  @include class-grid(sm, 600px);
  @include class-grid(md, 960px);
  @include class-grid(lg, 1280px);
  @include class-grid(xl, 1920px);
}
